{{#if isEditing}}
  {{active-cell-input disabled value=value on-change=(action "commit") on-complete=(action "hideEditor")}}
{{else}}
  <div {{action "showEditor" on="doubleClick"}}>
    {{value}}
    <a href="#" {{action "deleteCategory" category}}>
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
{{/if}}
