{{#if isEditing}}
  {{active-cell-input disabled=false value=value on-change=(action "commit")}}
{{else}}
  <div {{action "showEditor" on="doubleClick"}}>
    {{value}}
    <a class="edit-category__trash" href="#" {{action "delete" category}}>
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
{{/if}}
