{{! Totals }}
<tr class={{headerClass}}>
  <td></td>
  {{#each months as |month|}}
    {{total-amount month.operations type}}
  {{/each}}
</tr>

{{! Category operations }}
{{#each categories as |category|}}
  <tr>
    {{edit-category category}}
    {{#each months as |month|}}
      {{operation-by-month budget category month}}
    {{/each}}
  </tr>
{{/each}}
{{add-category budget=budget type=type}}
