{{! Totals }}
<tr class={{headerClass}}>
  <td></td>
  {{#each months}}
    <th>0</th>
    <th>0</th>
  {{/each}}
</tr>

{{! Category operations }}
{{#each categories as |category|}}
  <tr>
    <td>
      {{category.name}}
      <a href="#" {{action "deleteCategory" category}}>
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
    {{#each months as |month|}}
      {{operation-by-month month category}}
    {{/each}}
  </tr>
{{/each}}
{{add-category budget=budget type=type}}
