<h2>{{model.id}}</h2>

<table>

  {{! Months }}
  <tr>
    <th></th>
    {{#each months as |month|}}
      <th colspan="2">{{month.name}}</th>
    {{/each}}
  </tr>

  {{! Plan/Fact }}
  <tr>
    <th></th>
    {{#each months}}
      <th>Plan</th>
      <th>Fact</th>
    {{/each}}
  </tr>

  {{! Income Total }}
  <tr>
    <th>Income</th>
    {{#each months as |month|}}
      {{total-income month=month}}
    {{/each}}
  </tr>

  {{! Income Categories }}
  {{#each model.incomeCategories as |category|}}
    <tr>
      <td>{{category.name}}</td>
      {{#each months as |month|}}
        {{monthly-income category=category month=month}}
      {{/each}}
    </tr>
  {{/each}}

  {{! Outgo Total }}
  <tr>
    <th>Outgo</th>
    {{#each months as |month|}}
      <th>0</th>
      <th>0</th>
    {{/each}}
  </tr>

  {{! Income Categories }}
  {{#each model.outgoCategories as |category|}}
    <tr>
      <td>{{category.name}}</td>
      {{#each months as |month|}}
        <td>0</td>
        <td>0</td>
      {{/each}}
    </tr>
  {{/each}}
</table>